// Backgrounds

$cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

// Neutrals

$veryDarkBlue: hsl(212, 21%, 14%);
$darkGrayisBlue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

// Fonts Family

$fontPrincipal: 'Amatic SC', cursive;
$fontSecondary: 'Amatic SC', cursive;