@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  background-color: #f2ebe3;
  font-family: "Amatic SC", cursive; }
  body .card {
    width: 320px;
    margin: auto;
    margin-top: 2rem; }
    body .card .card__conteiner .card__conteiner__image__mobile {
      width: 100%;
      display: block;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px; }
    body .card .card__conteiner .card__conteiner__image__desktop {
      display: none; }
    body .card .card__content {
      display: flex;
      flex-direction: column;
      height: 300px;
      justify-content: space-between;
      background-color: white;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 1.2rem; }
      body .card .card__content .span__top {
        text-transform: uppercase;
        opacity: 0.5;
        letter-spacing: 6px; }
      body .card .card__content .card__content__title {
        font-weight: 900;
        line-height: 1; }
      body .card .card__content .card__content__p {
        opacity: 0.5; }
      body .card .card__content .conteiner__span .span__bottom__left {
        color: #3c8067;
        font-size: 2rem;
        font-weight: 900; }
      body .card .card__content .conteiner__span .span__bottom__right {
        margin-left: 1rem;
        position: relative;
        bottom: 10px;
        font-size: 0.8rem;
        opacity: 0.5;
        text-decoration: line-through; }
      body .card .card__content .button {
        display: block;
        width: 100%;
        padding: 12px 0;
        border-radius: 4px;
        border: none;
        background-color: #3c8067;
        color: white;
        font-weight: 700;
        transition: background-color 1s; }
  body .attribution {
    margin-top: 3rem;
    text-align: center; }

@media screen and (min-width: 1440px) {
  body .card {
    margin: auto;
    width: 800px;
    margin-top: 2rem;
    display: flex; }
    body .card .card__conteiner .card__conteiner__image__mobile {
      width: 100%;
      display: none;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px; }
    body .card .card__conteiner .card__conteiner__image__desktop {
      width: 100%;
      height: 100%;
      display: block;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px; }
    body .card .card__content {
      padding: 3rem 2rem;
      height: auto;
      border-bottom-left-radius: 0;
      border-top-right-radius: 8px; }
      body .card .card__content .card__content__title {
        font-size: 3.5rem; }
      body .card .card__content .card__content__p {
        font-size: 1.4rem; }
      body .card .card__content .conteiner__span .span__bottom__right {
        font-size: 1.3rem; }
      body .card .card__content .button:hover {
        background-color: #2b5e4c;
        cursor: pointer; } }
